<div class="event">
    <div class="content">
        <div class="summary">
            <span class="pink"><%= message.user.username %>:</span> <em><%= message.body %></em>
        </div>
    </div>
</div>