@import 'semantic-ui';
@import "semantic-ui/modules/dropdown";
@import "semantic-ui/collections/message";

.chatbox {
    height: 450px;
}

.pink {
    color: #E03997;
    font-style: bold;
}

#messages {
    overflow: auto;
    max-height: 420px;
}

.input {
    button {
        display: none;
    }
}